awscli
pylint==2.*
black==21.9b0
cfn-lint==0.56.*
cfn-flip==1.2.*
yq==2.12.*
pytest==6.2.*
pytest-cov==3.0.*
mypy==0.910
aws-lambda-typing==2.8.*
strip-hints==0.1.*
behave==1.2.*
boto==2.49.*
boto3==1.18.*
selenium==4.0.*
requests==2.25.*
